.accessories{
    min-height: 500px;
    padding: 64px 0 28px;

    &__title{
        font-weight: bold;
        font-size: 32px;
        line-height: 36px;
        text-align: center;

        &::after{
            content: ' ';
            display: block;
            margin: 0 auto;
            margin-top: 22px;
            width: 70px;
            height: 2px;
            background: #CFCFCF;
        }
    }

    &__wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    &__link{
        display: block;
        font-size: 15px;
        line-height: 18px;
        text-align: center;
        color: #FF4A32;
    }

    &__shadow{
        background: rgba(255, 255, 255, 0.9);
        box-shadow: 2px 0px 10px rgba(41, 44, 61, 0.34);
        border-radius: 0px;
        height: 66px;
        margin-top: 25px;
    }
}